body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('dance_floor.JPG');
  background-size: 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.animationButton {
  padding:5px 12px;
  float: left;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.jake-dancer {
  height: 80px;
  position: absolute;
}
.hank-dancer {
  height: 140px;
  position: absolute;
}
/*img:hover {
    -webkit-animation: spin .5s linear;
    -moz-animation: spin .5s linear;
    animation: spin .5s linear;
}*/

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.animated {
    -webkit-animation: spin .5s linear;
    -moz-animation: spin .5s linear;
    animation: spin .5s linear;
}